#CustomerManage,
#ItemManage {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#CustomerManage > div,
#ItemManage > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#CustomerManage > :first-child > div,
#ItemManage > :first-child > div {
  margin-top: 4vh;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 34px;
}

#CustomerManage form label,
#ItemManage form label {
  font-size: 1.3rem;
  font-weight: 450;
  margin-bottom: 5px;
}

form div input,
select {
  padding: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  width: 80%;
}

.buttons {
  flex-direction: row;
}

.buttons button {
  padding: 19px 28px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  font-size: 18px !important;
}

.buttons .saveBtn {
  background-color: #56abf6;
}

.buttons .saveBtn:hover {
  background-color: #4682b4;
}

.buttons .removeBtn,
.buttons .clearBtn {
  background-color: #db3843;
}

.buttons .removeBtn:hover,
.buttons .clearBtn:hover {
  background-color: #b22222;
}

.buttons .updateBtn {
  background-color: #dcaa13;
}

.buttons .updateBtn:hover {
  background-color: #b8860b;
}

.buttons .searchBtn {
  background-color: #24a746;
}

.buttons .searchBtn:hover {
  background-color: #1e7e34;
}

#CustomerManage table,
#ItemManage table {
  margin-left: -150px;
  border-collapse: collapse;
}

#CustomerManage th,
#CustomerManage td,
#ItemManage th,
#ItemManage td {
  border: 1px solid #c4c4c4;
  width: 20vw;
  height: 4vw;
  text-align: center;
}

#CustomerManage th,
#ItemManage th {
  background-color: #c4202b;
  font-size: 1.2rem;
  color: #eaeaea;
}
